.ToolBar {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  height: 40px;
  align-items: center;

  ul {
    display: flex;
    align-items: center;

    a {
      padding: 10px;
      font-size: 0;
      img {
        height: 20px;
        width: 20px;
      }
      a:first-child {
        background: url("/public/icons/instagram.svg") no-repeat center;
      }
      a:last-child {
        background: url("/public/icons/facebook.svg") no-repeat center;
      }
    }
  }
}
.BehindNavBar{
  width: 100%;
  height:180px;
}

.NavBar {
  display: flex;
  flex-direction: column;
  height: 180px;
  border-bottom: 1px solid;
  border-color: #e5e5e5;

  ul {
    display: flex;
    justify-content: center;

    font-weight: 700;
    font-size: 28px;
    a {
      padding: 7.5px;
    }
  }
}

.NavBar2 {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 180px;
  border-bottom: 1px solid;
  border-color: #e5e5e5;
  width: 100%;
  background: white;
  z-index: 99999;
  top: 0;
  transition: 1s ease;
}

.NavBarTopSection {
  padding: 30px 30px;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  nav {
    display: flex;
    flex-direction: column;
  }

  a {
    align-self: center;
  }

  Img {
    width: 300px;
    height: 100px;
  }

  a {
    img {
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: flex-end;
    }
  }
  ul {
    align-self: center;
  }
}

.ShopSection {
  height: 800px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  display: none;

  div {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    h4 {
      display: flex;
      align-items: center;
      padding: 4px;
      height: 40px;
    }
  }
}

.shopButton {
  display: grid;
  height: 800px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  align-items: flex-start;
}
