.toolBar {
  display: flex;

  justify-content: space-between;
  align-items: center;

  height: 32px;

  padding: 0px 12px;

  border-bottom: 1px #e5e5e5 solid;

  > a {
    font-size: 1.2rem;
  }

  > ul {
    display: flex;
    align-items: center;

    a {
      padding: 4px;
      font-size: 0;
    }
  }
}

.navBar {
  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 90px;

  > :last-child {
    > * {
      margin: 5px;
    }
  }
}

.menuDesktop {
  > * {
    margin: 5px 30px;
  }
}
