.productList {
  margin: 0px 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 15px 0px;

  > a {
    margin-right: 10px;
    padding: 6px;

    border: 1px #e5e5e5 solid;

    line-height: 1.5;
    font-size: 1.6rem;
    font-weight: 300;

    transition: all 200ms ease;
  }

  > a:hover {
    background-color: #e5e5e5;
  }
}

.productContainer {
  display: flex;
  flex-direction: row;

  height: 80%;

  overflow-y: visible;
  overflow-x: auto;

  > div {
    flex: 1 1;
    min-width: 200px;
  }

  > p {
    align-self: center;
    justify-self: center;

    color: #e5e5e5;
    background-color: #990000;

    padding: 12px;

    font-size: 3rem;
  }
}

@media only screen and (max-width: 920px) {
  .productList {
    margin: 5px;
  }

  .header {
    > a {
      margin-right: 0px;
    }
  }
}
