:root {
  --color-body: #ffffff;
}

html,
body {
  font-family: -apple-system, "Recursive", BlinkMacSystemFont, Roboto, Arial, "Noto Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: --color-body;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
