:root {
  --color-white-100: #ffffff;
  --color-white-200: #f2f3f5;

  --color-gray-500: #e2e2e2;

  --color-black-900: #000000;

  --color-blue-400: #2362b4;

  --color-red-500: #ff0000;
  --color-red-800: #990000;

  --default-fonts: -apple-system, 'Recursive', BlinkMacSystemFont, Roboto, Arial, 'Noto Sans',
    sans-serif;

  --breakpoint-xs: 480px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1600px;
}

body[data-theme='dark'] {
  --primary-color: var(--color-white-100);
  --color-background: var(--color-blue-400);
}
body[data-theme='light'] {
  --primary-color: var(--color-red-500);
  --color-background: var(--color-white-200);
}
